{{- if .Values.ingress.enabled }}
---
# Middleware to redirect HTTP to HTTPS
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-to-https
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
# HTTP to HTTPS redirect for {{ .Values.ingress.host }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Chart.Name }}-http-redirect
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`{{ .Values.ingress.host }}`)
    kind: Rule
    middlewares:
    - name: redirect-to-https
    services:
    - name: noop@internal
      kind: TraefikService
{{- end }}
